.location-input {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  width: 100%;
}

.suggestions-list {
  margin-top: 0.5rem;
  padding: 0;
}
